@model ThuVien.Models.DocGia

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Bạn có chắc muốn xóa nó chứ?</h3>
    <div>
        <h4>DocGia</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.TenDG)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TenDG)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DiaChi)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DiaChi)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NgheNghiep)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NgheNghiep)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Sdt)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Sdt)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LoaiDG)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LoaiDG)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ThoiHan)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ThoiHan)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
